<% content_for :page_title, "#{@service.name} - ISTOS.CY"  %>

<% add_parent_breadcrumb_link t('home'), root_path %>
<% add_parent_breadcrumb_link @service.topic.topic.name, topic_path(@service.topic.topic) %>
<% add_parent_breadcrumb_link @service.topic.name, topic_path(@service.topic) %>

<% content_for :title, @service.name %>

<div class="container">
  <div class="row">
    <% if @service.not_found? %>
      <div class="alert alert-danger" role="alert">
        <%= t('service.not_found') %>
      </div>
    <% elsif @service.temporarily_unavailable? %>
      <div class="alert alert-warning" role="alert">
        <%= t('service.temporarily_unavailable') %>
      </div>
    <% end %>
    <div class="col-md-8">
      <h1><%= @service.name %></h1>
      <p class="py-2">
        <%= markdown(@service.information) %>
      </p>
      <div class='py-4'>
        <%= link_to t('go_to_service'), service_path(@service, redirect: true), class: 'btn btn-lg btn-success' %>
      </div>
    </div>
  </div>
</div>
