<% add_parent_breadcrumb_link 'Home', root_path %>
<% if @parent_topic %>
  <% add_parent_breadcrumb_link @parent_topic.name, topic_path(@parent_topic) %>
<% end %>

<% content_for :title, @topic.name %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @topic.topics.any? %>
        <h1><%= @topic.name %></h1>
        <p class="lead py-2">
        <%= @topic.description %>
        </p>

        <ul class='list-unstyled'>
          <% @topic.topics.each do |subtopic| %>
            <li> <%= link_to subtopic.name, topic_subtopic_path(@topic, subtopic) %></li>
          <% end %>
        </ul>
      <% end %>

      <% if @topic.services.any? %>
        <div class="row">
          <div class="col-md-3">
            <ul class="list-group d-none d-sm-block mb-4">
              <% @parent_topic.topics.each do |topic| %>
                <% if topic.eql?(@topic) %>
                  <%= link_to topic.name, topic_path(topic), class: "list-group-item list-group-item-action active" %>
                <% else %>
                  <%= link_to topic.name, topic_path(topic), class: "list-group-item list-group-item-action" %>
                <% end %>
              <% end %>
            </ul>
          </div>

          <div class="col-md-9">
            <h1><%= @topic.name %></h1>
            <p class="lead py-2">
            <%= @topic.description %>
            </p>
            <ul class='list-unstyled'>
              <% @topic.services.each do |service| %>
                <li>
                  <%= link_to service.name, service_path(service) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
