<section class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="jumbotron-heading"><%= I18n.t('welcome', name: 'ISTOS.CY') %></h1>
        <p class="lead"><%= t('intro') %></p>
        <p class="lead"><strong><%= t('tagline') %></strong></p>
      </div>
    </div>
  </div>
</section>

<div class="py-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2><%= t('popular') %></h2>
        <ul class="most-popular">
          <% @popular_services.each do |service| %>
            <li><%= link_to service.name, '#' %> </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6">
        <h2><%= t('search') %></h2>
        <div class="input-group mb-9">
          <%= search_field_tag 'search_field', nil, class: 'form-control form-control-lg' %>
          <button class="btn btn-secondary" type="button" id="search"><%= t('search') %></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-3 bg-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2><%= t('topics') %></h2>
        <ul class='services-grid'>

          <% @services.each do |service| %>

            <li class='service-box'>
              <div class="wrapper">
                <h3><a href="#"><%= service.name %></a></h3>
                <p><%= service.description %></p>
              </div>
            </li>

          <% end %>

        </ul>
      </div>

    </div>
  </div>
</div>

